<div class="p-40">
  <div [formGroup]="fg">
    <h1>Duration pipe</h1>
    <div>
      <div>
        <label for="epochInSeconds">epochInSeconds: </label>
        <input id="epochInSeconds" type="number" formControlName="epochInSeconds">
      </div>
      <div>
        <label for="limitTo">limitTo: </label>
        <select id="limitTo" formControlName="limitTo">
          <option value="seconds">seconds</option>
          <option value="minutes">minutes</option>
          <option value="hours">hours</option>
          <option value="years">years</option>
          <option value="days">days</option>
        </select>
      </div>
      <div>

        <label for="shortHand">shortHand: </label>
        <select id="shortHand" formControlName="shortHand">
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>
      </div>
      <div>
        <label for="appendZero">appendZero: </label>
        <select id="appendZero" formControlName="appendZero">
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>
      </div>
      <div>
        <label for="showZero">showZero: </label>
        <select id="showZero" formControlName="showZero">
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>
      </div>
    </div>
    <div>
      Result:
      <b>
        {{
        fg.controls['epochInSeconds'].value | duration:
          fg.controls['limitTo'].value :
          ['true', true].includes(fg.controls['shortHand'].value) :
          ['true', true].includes(fg.controls['appendZero'].value) :
          ['true', true].includes(fg.controls['showZero'].value)
        }}
      </b>
    </div>
  </div>
</div>
